
<% content_for :title, "Entries" %>


<div id="entries" class="flex flex-wrap gap-2 w-max">
  <% @entries.each do |entry| %>
  <div class="border p-4 m-2 rounded-lg">
      <%= render entry %>
      <p>
        <%= link_to "Show", entry, class: "text-blue-500 hover:underline" %>
      </p>
  </div>
  <% end %>
</div>

<%= link_to "New entry", new_entry_path, class: "p-2 rounded-lg bg-green-400 text-white hover:bg-green-500 w-max my-2" %>
<%= link_to "Show all entries", archives_index_path, class: "p-2 rounded-lg bg-orange-400 text-white hover:bg-orange-500 w-max my-2" %>
