<%= render @entry %>

<div>
  <%= link_to "Edit", edit_entry_path(@entry), class: "text-blue-500 hover:underline" %> |
  <%= link_to "Back", entries_path, class: "text-blue-500 hover:underline" %>

  <%= button_to "Destroy", @entry, method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this entry?' } , class: "p-2 rounded-lg bg-red-400 text-white hover:bg-red-500 my-2 cursor-pointer" %>
</div>